<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Confirmação de envio</title>
</head>
<body>
    <section>

        <h2>Olá, <b th:text="${name}">name</b>!</h2>

        <p> Se esse e-mail chegou é porque você conseguiu fazer o envio de e-mail utilizando Java, Spring Boot e Thymeleaft. Parabéns!!!</p>

        <div>
            <img src="images/spring.png" data-th-src="|cid:springLogo|" height="80"/>
        </div>

    </section>
</body>


